---
BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignOperands: 'true'
BreakBeforeBinaryOperators: None
BreakConstructorInitializers: BeforeColon
AlwaysBreakTemplateDeclarations: No
NamespaceIndentation: All
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true
BreakAfterAttributes: Leave
SortIncludes: true
...
