---
Checks: '*,
-abseil-*,
-altera-*,
-android-*,
-boost-*,
-bugprone-*,
-cert-*,
-llvmlibc-*,
-modernize-use-trailing-return-type,
-modernize-return-braced-init-list,
-hicpp-braces-around-statements,
-readability-identifier-length,
-readability-braces-around-statements,
-readability-redundant-access-specifiers,
-readability-named-parameter,
-fuchsia-overloaded-operator,
-fuchsia-default-arguments,
-fuchsia-default-arguments-calls,
-llvm-header-guard,
-llvm-namespace-comment,
-google-readability-namespace-comments,
-google-readability-todo,
-google-readability-braces-around-statements,
-cppcoreguidelines-pro-type-union-access,
-cppcoreguidelines-missing-std-forward, # False-positive with east::forward
-bugprone-easily-swappable-parameters'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
CheckOptions:
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'