---
BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignOperands: 'true'
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeColon
NamespaceIndentation: All

...
