---
BasedOnStyle: WebKit
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AlignAfterOpenBracket: Align
AlignOperands: 'true'
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      true
  AfterCaseLabel:  true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
  AfterControlStatement: true
  AfterObjCDeclaration: true
Cpp11BracedListStyle: true
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: CurrentLine
AlwaysBreakTemplateDeclarations: No
NamespaceIndentation: All
IndentCaseLabels: true
BreakAfterAttributes: Leave
SortIncludes: true
...
