[submodule "src/dependencies/utfcpp"]
	path = src/dependencies/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "src/dependencies/imgui"]
	path = src/dependencies/imgui
	url = https://github.com/JKot-Coder/imgui
