[submodule "src/dependencies/gulrak/filesystem"]
	path = src/dependencies/gulrak/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "src/dependencies/fmt"]
	path = src/dependencies/fmt
	url = https://github.com/fmtlib/fmt
[submodule "src/dependencies/utfcpp"]
	path = src/dependencies/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "src/dependencies/glm"]
	path = src/dependencies/glm
	url = https://github.com/g-truc/glm.git
